.site-footer {
	background: color('grey');
	color: color('white');
	padding-top: 3em;

	@include breakpoint(medium) {
		padding-bottom: 3em;
	}

	.gform_wrapper {
		input[type='text'],
		textarea {
			height: 50px;
			padding: 1em .5em;
		}

		label.gfield_label {
			display: none;
		}
	}

	.gform_button {
		width: 97.5%;

		@include breakpoint(medium) {
			width: auto;
		}
	}
}

.footer-header {
	color: color('white');
	text-transform: uppercase;

	@include breakpoint(medium) {
		font-size: 1.5em;
	}
}

.footer-social {
	@include reset-list;
	display: flex;

	li {
		margin-right: 1em;
	}

	a {
		color: color('white');
	}
}

.footer-legal {
	font-family: $header-font-family;
	font-size: .75em;
	margin-bottom: 0;

	@include breakpoint(small only) {
		margin-top: 2em;
	}
}

.footer-contact {
	@include breakpoint(large) {
		display: block;
	}
}
