.about-us-content {
  margin-bottom: 4em;
  @include breakpoint(large) {
    margin-bottom: 8em;
  }
}

.member-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;

  @include breakpoint(medium) {
    flex-direction: row;
  }

  &:nth-child(even) {

    @include breakpoint(medium) {
      .member-thumb {
        order: 2;
        margin-left: 1em;
        margin-right: 0;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 8em;
  }
}

.member-thumb {
  margin-bottom: 1em;
  @include breakpoint(medium) {
    display: inline-block;
    flex: 1 0 auto;
    margin-right: 1em;
    margin-bottom: 0;
  }
}

.member-header {
  font-weight: $weight-light;
  position: relative;
  top: -.25em;
}
