
.entry-meta {
	color: color('grey', 'ultdark');
	margin-bottom: 1.25rem;
	font-style: italic;
}

.updated {
	display: none;
}

.vcard {
	display: inherit;
	padding: 0;
	border: none;
	margin: 0;
}

.vcard .fn {
	font-weight: normal;
	font-size: 1rem;
}

.entry-content p {
	margin-bottom: 1.25rem;
}

.testimonial-archive-block {
	margin-bottom: 5em;

	&:last-of-type {
		margin-bottom: 10em;
	}

	&:first-of-type {
		margin-top: 5em;
	}
}
