.home-quote {
  background-color: color('grey', 'ultlight');
  padding-top: 5em;
  padding-bottom: 5em;
}

.site-quote {

  @include breakpoint(medium) {
    padding-top: 7em;
    padding-bottom: 7em;
  }

  cite {
    color: color('white');
  }

  .quote-header {
    color: color('white');
  }
}

.quote-content {
  cite {
    &::before {
      content: '';
    }
  }
}

.quote-header {
  line-height: 1.2;
}
