// Baseline SVG styles
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow {
  color: color('grey');
  font-size: 35px;

  &:nth-child(1),
  &:nth-child(2) {
    margin-right: -10px;
  }
}
